{
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "semi": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}